<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/index.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <title>FullFacing - Lan Event</title>
    </head>
    <body>
        <div class="content-container">
            <h2>Stuff and Thangs:</h2>
            <div class="">DC ++ Server : <font color="#00ff00">Online : 192.168.23.93</font></div>
            <div class="">Teamspeak Server : <font color="#00ff00">Online : 192.168.23.93</font></div>
            <div class="">Call of Duty 4 Server : <font color="#00ff00">Online : 192.168.23.93</font></div>
            <div class="">Unreal Tournament Server : <font color="#ff0000">Offline</font></div>
            <div class="">Counter Strike Source Server : <font color="#ff0000">Offline</font></div>
            <div class="">Quake 3 Server : <font color="#ff0000">Offline</font></div>
            <div class="">Dota 2 Server : <font color="#ff0000">Offline</font></div>
        </div>
        <div class="content-container-call-of-duty-4">
            <h2>Call of Duty 4 Serials:</h2>
            <div class="cod-4-serials">
                <a href="https://www.youtube.com/watch?v=bBWt9_acw_o" target="_blank"><font color="yellow">Call of Duty 4 Keygen : Youtube</font></a>
            </div>
        </div>
    </body>
</html>


